<section>
    <h1>Iniciar Sesion</h1>
    <div class="box">
        {{!-- <form action="/api/productos/create" method="post"> --}}
            <form action="/api/productos/login" method="post">
                <label for="nombreUsuario">Nombre</label>
                <input type="text" name="nombreUsuario" placeholder="Ingrese nombre" id="nombreUsuario">
                <input type="submit" value="Iniciar">
            </form>
            <br>
    </div>
</section>